*{
    padding:0;
    margin:0;
    text-align: center;
}
h1{
    height:5rem;
    background-color: rgb(34, 35, 35);
    color: rgb(235, 239, 239);
   line-height: 5rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 2rem;
}
.choice:hover{
    cursor: pointer;
    background-color:rgb(34, 35, 35);

}
.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user_score,#comp_score{
    font-size: 4rem;
}
#msg{
    background-color: rgb(34, 35, 35); 
    color:rgb(235, 239, 239);
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
.msg-container{
    margin-top: 5rem;
}